body {
  margin:0;
  padding:0;
  background: #038C73;

}
.homebutton {
  background: skyblue;
  width: 50px;
  height: 20px;
  padding: 4px;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 10px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  list-style: none;
}

p {
color: #010440;
: 28px;
margin:0px;
text-align: right;
font-family: san-rafael,sans-serif;
font-weight: 400;
font-style: normal;
font-size: 70px;
margin-right: 10px;


}
h1 {
  : 100px;
  margin:0;
  padding:0px 0px 0px 5px;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  color: #829FD9;
  font-family: san-rafael, sans-serif;

  font-weight: 400;

  font-style: normal;
  font-size: 70px;



}
a{
color:black;
text-decoration: none;

}
h3 {
color:#F2E74B;
text-align: left;
font-family: san-rafael, sans-serif;

font-weight: 400;

font-style: normal;
margin-left: 20px;
font-size: 70px;


}

a:hover{
  color:red;
}
img {
max-width: 100%;
max-height: 100%;
}


ul {
  text-align: center;
  color:blue;
 }
.Mercy {
  color: #F2E74B;
  font-weight: bold;
}
.Pity {
  color: #F2E74B;
  font-weight: bold;
}
.Love {
  color: #F2E74B;
  font-weight: bold;
}

.Peace {
  color: #F2E74B;
  font-weight: bold;
}

.bigline {
  text-align: left;
  color:#010440;
  margin-left: 20px;
}

.bot {

}

.god {
  text-align: center;

}
.final {
  text-align: center;

}

.buttons {
display: flex;
flex-direction: row;

}
