/* * {
    box-sizing: border-box;
} */

body {
  margin:0;
  padding:0;
}

.topbox {
  flex-direction: row;
  background:lightgreen;
  height:200px;
  top:20px;
  left:20px;
  margin-bottom: 20px;
  /* margin-right: 10px;
  margin-left: 10px; */

}
.container {
  display:flex;
  width:100%;
  height:600px;
  justify-content: space-between;
}
.bigcontainer {
  left:20px;
  display: flex;
  background: orange;
  width:49%;
  height:600px;
  justify-content: center;
  align-items: center;
  /* margin-left: 10px; */
}
.internalcontainer {
  background: red;
  height:300px;
  width:400px;
}
.columncontainer {
display: flex;
flex-direction: column;
justify-content: space-between;
height:600px;
width:49%;
/* margin-right: 20px; */

}

.columns {
  background:seagreen;
  width:100%;
  height:80px;
  /* margin-left: 10px;
  margin-right: 10px; */
}
.rowcontainer {
  display: flex;
  justify-content: space-between;
  width:100%;
  height:100px;
  margin-top: 10px;
  /* padding:10px; */
  /* margin-right: 10px;
  margin-left: 10px; */
}
.rows {
background:red;
/* height:100px; */
height:100%;
width:33%;
}

.total-container {
  margin:20px;
}
