body {
  background: black;
}

/* @keyframes rotate {
  0% {
    transform: rotate(0deg) translate(-150px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translate(-150px) rotate(-360deg);
  }
} */


@keyframes rotate {

  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}

}
.circle {
  margin-left: 25%;
  margin-bottom: 50px;
  font-size: 100px;
  animation: rotate 3s infinite linear;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 white;
}

.one {

  margin-top: 40px;
}

.two {
  opacity:0;
  box-shadow: 15px 15px 0 0 red;
}

.three {
  opacity:0;
  box-shadow: 15px 15px 0 0 blue;
}
.four {
  opacity:0;
  box-shadow: 15px 15px 0 0 yellow;
}

@media screen and (max-width:1000px){
.two {opacity:100%;}
}

@media screen and (max-width:800px){
.three {opacity:100%;}
}
@media screen and (max-width:500px){
.four {opacity:100%;}
}
