body {
  background: black;
  padding: 0;
  overflow-y: hidden;
  z-index: -2;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  justify-content: space-between;
  height:300px;
  position: absolute;
  top:25%;
  left:10%;
}

.menutext {
  font-family: 'Oswald', sans-serif;
  font-size: 50pt;
  fill:black;
}

.menubutton:hover {
  fill:white;
  transition: fill .2s;
}

.menubutton {
  margin-left: 20px;
  fill:red;

}


.bg {
  position:absolute;
  right:0;
  height:100vh;
  z-index: -2;
}

.name {
  color:white;
  font-family: 'Oswald', sans-serif;
  font-size: 80pt;
  position: absolute;
  left:9.7%;
  z-index: 2;
}


.box {
  position: absolute;
  left:0;
  z-index: -1;
  background: white;
  width:0px;
  height:90px;
  font-family: 'Oswald', sans-serif;
}


.one{
  background-image: url(https://komkhojayori.com/img.jpg);
}

.two{
  background-image: url(https://komkhojayori.com/img2.jpg);
}

.three{
  background-image: url(https://komkhojayori.com/img3.jpg);
}


.about {
  position: relative;
}

.portfolio {
  position: relative;
}

.contact {
  position: relative;
}

.shape {
  position: absolute;
}


@media screen and (max-width:800px){
  .bg {
    bottom:0;
    right:0;
  }
  .menu {
    top:40%;
  }
  .name {
left:0;

  }
.shape {
width:300px;

}
.box {
  width:400px;
  height:68px;
}
}
.web {
  font-size: 30pt;
}
